
.modal{
    color: #000;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }
  
  .close {
    right: 2%;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    --weight: 1px;
    --aa: 1px;
    --color: black;
    border-radius: 3px;
    background:
      linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
      linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
  }
  
  .modal__containder{
    display: flex;
    gap: 10px;
    align-items: center;
  }